/* Color scheme */

body {
  --gray-1: #fcfcfc;
  --gray-2: #f9f9f9;
  --gray-3: #f0f0f0;
  --gray-4: #e8e8e8;
  --gray-5: #e0e0e0;
  --gray-6: #d9d9d9;
  --gray-7: #cecece;
  --gray-8: #bbbbbb;
  --gray-9: #8d8d8d;
  --gray-10: #838383;
  --gray-11: #646464;
  --gray-12: #202020;

  --gray-a1: #00000003;
  --gray-a2: #00000006;
  --gray-a3: #0000000f;
  --gray-a4: #00000017;
  --gray-a5: #0000001f;
  --gray-a6: #00000026;
  --gray-a7: #00000031;
  --gray-a8: #00000044;
  --gray-a9: #00000072;
  --gray-a10: #0000007c;
  --gray-a11: #0000009b;
  --gray-a12: #000000df;
}

body.dark-theme {
  --gray-1: #111111;
  --gray-2: #191919;
  --gray-3: #222222;
  --gray-4: #2a2a2a;
  --gray-5: #313131;
  --gray-6: #3a3a3a;
  --gray-7: #484848;
  --gray-8: #606060;
  --gray-9: #6e6e6e;
  --gray-10: #7b7b7b;
  --gray-11: #b4b4b4;
  --gray-12: #eeeeee;

  --gray-a1: #00000000;
  --gray-a2: #ffffff09;
  --gray-a3: #ffffff12;
  --gray-a4: #ffffff1b;
  --gray-a5: #ffffff22;
  --gray-a6: #ffffff2c;
  --gray-a7: #ffffff3b;
  --gray-a8: #ffffff55;
  --gray-a9: #ffffff64;
  --gray-a10: #ffffff72;
  --gray-a11: #ffffffaf;
  --gray-a12: #ffffffed;
}

@media (prefers-color-scheme: dark) {
  /* Defaults to dark theme */
  body {
  --gray-1: #111111;
  --gray-2: #191919;
  --gray-3: #222222;
  --gray-4: #2a2a2a;
  --gray-5: #313131;
  --gray-6: #3a3a3a;
  --gray-7: #484848;
  --gray-8: #606060;
  --gray-9: #6e6e6e;
  --gray-10: #7b7b7b;
  --gray-11: #b4b4b4;
  --gray-12: #eeeeee;

  --gray-a1: #00000000;
  --gray-a2: #ffffff09;
  --gray-a3: #ffffff12;
  --gray-a4: #ffffff1b;
  --gray-a5: #ffffff22;
  --gray-a6: #ffffff2c;
  --gray-a7: #ffffff3b;
  --gray-a8: #ffffff55;
  --gray-a9: #ffffff64;
  --gray-a10: #ffffff72;
  --gray-a11: #ffffffaf;
  --gray-a12: #ffffffed;
  }

  body.light-theme {
  --gray-1: #fcfcfc;
  --gray-2: #f9f9f9;
  --gray-3: #f0f0f0;
  --gray-4: #e8e8e8;
  --gray-5: #e0e0e0;
  --gray-6: #d9d9d9;
  --gray-7: #cecece;
  --gray-8: #bbbbbb;
  --gray-9: #8d8d8d;
  --gray-10: #838383;
  --gray-11: #646464;
  --gray-12: #202020;

  --gray-a1: #00000003;
  --gray-a2: #00000006;
  --gray-a3: #0000000f;
  --gray-a4: #00000017;
  --gray-a5: #0000001f;
  --gray-a6: #00000026;
  --gray-a7: #00000031;
  --gray-a8: #00000044;
  --gray-a9: #00000072;
  --gray-a10: #0000007c;
  --gray-a11: #0000009b;
  --gray-a12: #000000df;
  }
}


:root {
  --black-a1: rgba(0, 0, 0, 0.05);
  --black-a2: rgba(0, 0, 0, 0.1);
  --black-a3: rgba(0, 0, 0, 0.15);
  --black-a4: rgba(0, 0, 0, 0.2);
  --black-a5: rgba(0, 0, 0, 0.3);
  --black-a6: rgba(0, 0, 0, 0.4);
  --black-a7: rgba(0, 0, 0, 0.5);
  --black-a8: rgba(0, 0, 0, 0.6);
  --black-a9: rgba(0, 0, 0, 0.7);
  --black-a10: rgba(0, 0, 0, 0.8);
  --black-a11: rgba(0, 0, 0, 0.9);
  --black-a12: rgba(0, 0, 0, 0.95);

  --white-a1: rgba(255, 255, 255, 0.05);
  --white-a2: rgba(255, 255, 255, 0.1);
  --white-a3: rgba(255, 255, 255, 0.15);
  --white-a4: rgba(255, 255, 255, 0.2);
  --white-a5: rgba(255, 255, 255, 0.3);
  --white-a6: rgba(255, 255, 255, 0.4);
  --white-a7: rgba(255, 255, 255, 0.5);
  --white-a8: rgba(255, 255, 255, 0.6);
  --white-a9: rgba(255, 255, 255, 0.7);
  --white-a10: rgba(255, 255, 255, 0.8);
  --white-a11: rgba(255, 255, 255, 0.9);
  --white-a12: rgba(255, 255, 255, 0.95);
}


/* Color scheme */

body {

  --background: rgb(255, 255, 255);
  --index-link-bgd: rgba(255, 255, 255, 0.4);

  /* Project colors */
  --lumi-thumb: rgb(237, 231, 219);
  --lumi-hero: rgba(237, 231, 219);
/*  --scout-thumb: rgb(244, 233, 202);*/
  --scout-thumb: #D4D1CC;
  --pop-in-thumb: rgb(224, 232, 210);

  /* Case study colors */
  --alpha-bgd: var(--black-a1);
  --gray-bgd: var(--black-a1);
  --dark-bgd: var(--black-a10);
  --border: var(--gray-5);

  --selection: rgba(255, 214, 0, 0.4);
}

body.dark-theme {

   --background: rgb(34, 34, 34);
    --index-link-bgd: rgba(34, 34, 34, 0.4);

    /*--background: rgb(31, 31, 31);
    --index-link-bgd: rgba(31, 31, 31, 0.4);*/

  /* Project colors */
  --lumi-thumb: rgb(128, 117, 97);
  --lumi-hero: rgba(128, 117, 97, 0.8);
/*  --scout-thumb: rgb(87, 85, 61);*/
  --scout-thumb: rgba(192, 187, 178, 0.5);
  --pop-in-thumb: rgb(61, 78, 57);

  /* Case study colors */
  --alpha-bgd: var(--white-a1);
  --gray-bgd: var(--white-a11);
  --dark-bgd: var(--white-a1);
  --border: var(--gray-6);

  --selection: rgba(255, 214, 0, 0.125);
}

@media (prefers-color-scheme: dark) {
  /* Defaults to dark theme */
  body {

   --background: rgb(34, 34, 34);
    --index-link-bgd: rgba(34, 34, 34, 0.4);

    /*--background: rgb(31, 31, 31);
    --index-link-bgd: rgba(31, 31, 31, 0.4);*/

    /* Project colors */
    --lumi-thumb: rgb(128, 117, 97);
    --lumi-hero: rgba(128, 117, 97, 0.8);
/*    --scout-thumb: rgb(87, 85, 61);*/
    --scout-thumb: rgba(192, 187, 178, 0.5);
    --pop-in-thumb: rgb(61, 78, 57);

    /* Case study colors */
    --alpha-bgd: var(--white-a1);
    --gray-bgd: var(--white-a11);
    --dark-bgd: var(--white-a1);
    --border: var(--gray-6);

    --selection: rgba(255, 214, 0, 0.125);
  }

  body.light-theme {

    --background: rgb(255, 255, 255);
    --index-link-bgd: rgba(255, 255, 255, 0.4);

    /* Project colors */
    --lumi-thumb: rgb(237, 231, 219);
    --lumi-hero: rgba(237, 231, 219);
/*    --scout-thumb: rgb(244, 233, 202);*/
    --scout-thumb: #D4D1CC;
    --pop-in-thumb: rgb(224, 232, 210);

    /* Case study colors */
    --alpha-bgd: var(--black-a1);
    --gray-bgd: var(--black-a1);
    --dark-bgd: var(--black-a10);
    --border: var(--gray-5);

    --selection: rgba(255, 214, 0, 0.4);
  }
}
