/* Beausite */

@font-face {
  font-family: 'Beausite';
  src:  url('../fonts/BeausiteClassicWeb-Clear.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
  font-family: 'Beausite';
  src:  url('../fonts/BeausiteClassicWeb-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: 'Beausite';
  src:  url('../fonts/BeausiteClassicWeb-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
  font-family: 'Beausite';
  src:  url('../fonts/BeausiteClassicWeb-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

/* Gooper */

@font-face {
  font-family: 'Gooper';
  src:  url('../fonts/VCGooper-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: 'Gooper';
  src:  url('../fonts/VCGooper-RegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

/* Mabry Pro */


@font-face {
  font-family: 'Mabry';
  src:  url('../fonts/mabry-light-pro.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
  font-family: 'Mabry';
  src:  url('../fonts/mabry-regular-pro.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}