/* Switcher */

.switcher {

  & > * {
    flex-basis: calc((var(--measure) - 100%));
    flex-grow: 1;
  }

  &:nth-of-type(odd) {
    flex-direction: row-reverse;
  }

  .stack {
    min-width: 24ch;
  }

  .thumbnail {
    background-color: var(--gray-3);
    aspect-ratio: 1 / 1;
    border-radius: var(--radius-xl);
    overflow: hidden;
    max-height: 35ch;
    position: relative;

    /*& img.mobile {
      object-position: 0 0;
      object-fit: cover;
      width: 62%;
      height: 100%;
      margin: 15% auto 0;
      transition: transform 0.5s;
      max-width: 25ch;
    }*/

    & img.desktop {
      object-position: 0 0;
      object-fit: cover;
      width: 110%;
      height: 110%;
      margin: 8% 0 0 7%;
      transition: transform 0.5s;
    }

    &.shadow::after{
      margin: 8% 0 0 7%;
      content: '';
      top: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      display: block;
      border-radius: var(--radius-xl);
      box-shadow: inset -25px -25px 30px rgba(var(--shadow-value), 0.04);
      border: 1px solid var(--lumi-thumb);
    }
  }
}

.mobile {
  position: relative;
  aspect-ratio: 405 / 842 !important;
  object-position: 0 0;

  object-fit: cover;
  width: 62%;
  height: 100%;
  margin: 15% auto 0;
  transition: transform 0.5s;
  max-width: 25ch;  

  /* Style device frame */
  .device {
    z-index: 999;
    position: absolute;
    top: -1%;
    left: 0;
    box-shadow: none;
  }

  /* Style image */
  .screen {
    z-index: 900;
    margin: 1.1%;
    padding: 2.1%;
    width: 97.9%;
    aspect-ratio: 395 / 832 !important;
    border-radius: 16% / 8%;
    box-shadow: 0.9px 0.7px 2.2px rgba(var(--shadow-value), 0.02),
      2.1px 1.8px 5.3px rgba(var(--shadow-value), 0.028),
      3.9px 3.4px 10px rgba(var(--shadow-value), 0.035),
      6.9px 6px 17.9px rgba(var(--shadow-value), 0.042),
      13px 11.3px 33.4px rgba(var(--shadow-value), 0.05),
      31px 27px 80px rgba(var(--shadow-value), 0.07)
    ;
  }
}

@media (any-hover:hover) {
  .mobile:hover {
    transform: translateY(-1%) scale(101%);
  }
}
