/* Unset */

.unset {
  font-size: unset;
  font-weight: unset;
  line-height: unset;
}

.unset-size {
  font-size: unset;
}

.unset-weight {
  font-weight: unset;
}

.unset-lh {
  line-height: unset;
}

.unset-smoothing {
  -webkit-font-smoothing: unset;
}

/* Font styles */

.mono {
  font-family: ui-monospace, 
             Menlo, Monaco, 
             "Cascadia Mono", "Segoe UI Mono", 
             "Roboto Mono", 
             "Oxygen Mono", 
             "Ubuntu Monospace", 
             "Source Code Pro",
             "Fira Mono", 
             "Droid Sans Mono", 
             "Courier New", monospace;
  font-size: 0.975em;
  letter-spacing: -0.002em;
}

/* Links */

.no-ul {
  text-decoration: none;
  transition: none;
}

.hide-ul {
  text-decoration: none;
  transition: none;
  &:hover {
    text-decoration: underline;
  }
}

/* Text other */

.disabled, .subdued {
  color: var(--gray-10);
}

.semibold {
  font-weight: 500!important;
}

.bold {
  font-weight: 600!important;
}

.smaller {
  font-size: var(--step--1)!important;
}

/* Images and videos */

img, video {

  &.border {
    border: 1px solid var(--border);
  }

  &.no-shadow {
    box-shadow: none;
  }

  &.ratio-1-1 {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  &.ratio-3-4 {
    aspect-ratio: 3 / 4;
    object-fit: cover;
  }

  &.ratio-7-8 {
    aspect-ratio: 7 / 8;
    object-fit: cover;
  }

  &.top {
    object-position: top;
  }

  &.bottom {
    object-position: bottom;
  }

  &.lower {
    object-position: 0% 30%;
  }
}

/* Alignment */

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.row-reverse {
  flex-direction: row-reverse;
}


/* Color backgrounds */

.hero > .frame, .index .thumbnail, .project-bgd {
  &:is(.lumi *) {
    background-color: var(--lumi-thumb)!important;
  }
  &:is(.pop-in *) {
    background-color: var(--pop-in-thumb)!important;
  }
  &:is(.scout *) {
    background-color: var(--scout-thumb)!important;
  }
}

.dark {
  background-color: var(--dark-bgd)!important;
}

.blue {
  background-color: #C3CDD0!important
}

.purple {
  background-color: #C4B1C8!important
}

.green {
  background-color: #CDD4BF!important
}